#socialmedia {
    text-align: center;
    padding: 50px 20px;
    background-color: #efebe0; /
    border-radius: 12px;
}

#socialmedia h2 {
    color: #806b63; 
    font-size: 2rem;
    margin-bottom: 35px;
    font-family: "Arial", sans-serif;
}

.social-links {
    display: flex;
    justify-content: center;
    gap: 40px;
    flex-wrap: wrap;
}

.social-box {
    background-color: #e8c4c6; 
    width: 160px;
    padding: 20px;
    border-radius: 15px;
    text-decoration: none;
    color: #806b63;
    font-weight: bold;
    font-size: 1.1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.social-box:hover {
    transform: translateY(-6px);
    box-shadow: 0px 10px 18px rgba(0, 0, 0, 0.15);
}

.social-icon {
    width: 40px;
    height: 40px;
    object-fit: contain;
    margin-bottom: 12px;
}


.instagram {
    background-color: #e8c4c6;
}

.tiktok {
    background-color: #e2d0bc;
}

